---
title: Conferences
---

<article>
  <div class="inner">
    <main class="content">
      <h1>Go to a conference!</h1>

      <p>At Rails Girls Summer of Code you work hard and learn new stuff every day, for
      3 months, a summer full of love and code.</p>

      <p>To make this an even more complete experience for you we'd like you to join a
      nice conference:</p>

      <p><strong>Enjoy the great vibe, learn new things from the talks,
      meet fantastic people and get to know the lovely community!</strong></p>

      <p>We're already busy getting in touch with conferences in order to support this year's students in joining the community. So stay tuned!</p>
      
    </main>

    <aside class="sidebar">
      <section class="sidebar-block">
        <%= partial "modules/_student-sidebar" %>
      </section>
      <section class="sidebar-block">
        <div class="scribble8"></div>
      </section>
    </aside>

  </div>
</article>
