---
title: Things to do
---

<article>
  <div class="inner">
    <main class="content">
      <h1>Things to do</h1>

      <p>The Rails Girls Summer of Code is about supporting the students on their way into the Open Source community. Besides coding, this also includes getting the word out and meeting other developers. Here is a list of activities that are part of the program and will help you entering the community:</p>
      <ul class="list--bullet">
        <li>Focus on your work.</li>
        <li>Post brief, but daily <a href="/team-log">status updates on your team log</a>.</li>
        <li>Write up at least one, maybe two blog posts on the <a href="/blog">Rails Girls Summer of
          Code blog</a>. You can write whatever type of post you like, text, images, a video, ... This is up to you as long as it's related to your amazing work on your project :)</li>
        <li>Visit your local developers user groups, hackdays, community events, etc. This will get you 
          connected with your local community.</li>
        <li>Give at least one lightning talk at a conference, local user group, Rails
          Girls (or similar) workshop.</li>
        <li>Use all the support channels and ask all the questions that you have!</li>
        <li>Have fun :)</li>
      </ul>
      <p>If you are working with a pair (and most of you do) then all of these things
        refer to you as a pair, too.  I.e. you don't have to post individual status
        updates to your log. You can give a lightning talk together with your pair, and
        it's probably more fun to visit a user group together.</p>
    </main>

    <aside class="sidebar">
      <section class="sidebar-block">
        <%= partial "modules/_student-sidebar" %>
      </section>
    </aside>

    <main class="content">
      <h2>Visit community events and conferences</h2>
      <p>Obviously you should spend the precious work time that you have focussing on your
        work. But we'd also like you to get in touch with the community vis-a-vis, if
        possible, so you get a feeling for that vibe, too.</p>
      <p>For example, you can schedule visiting evening events like the local Ruby user group. User groups usually happen once a month. After the Summer of Code is over, we recommend to visit a conference that is close to your place.</p>
      <p>We highly recommend to plan for giving at least a brief lightning talk at any such event,
        too, so you get to share the love and practice speaking in front of a bunch of
        people :)</p>
      <p>Don't feel too scared about presenting your work and experience at such events!
        Of course everyone is (seriously, even experienced, seasoned speakers are).</p>
      <p>But on the other hand everyone in the community also loves what you are doing
        (you can see how this program is being received by looking at the success of
        our campaign). And people will love it, hold you in high respect and give their
        support if you pluck up your courage to tell them about your experience (even
        if just briefly).</p>
      <p>If you find a conference that you'd like to visit, then please tell us! We
        might know the organizers (or people who know them) and maybe we can sort out
        free tickets etc. for you.</p>
    </main>

    <aside class="sidebar">
      <section class="sidebar-block">
        <div class="scribble16"></div>
      </section>
    </aside>

  </div>
</article>
