---
title: Tools
---

<article>
  <div class="inner">
    <main class="content">
      <h1>Tools</h1>
      
      <p>In the process of organizing this year's Summer of Code, we also review the tools and services used last year to keep track of the team's activities, keep in touch with each other, support channels, etc. We will provide you with all the details well in advance.</p>

      <p>As a first step, you can already get aquainted with Github.</p>

      <!-- <p>For Rails Girls Summer of Code we are going to use the following tools.</p>

      <p>We've picked IRC, GitHub and GoogleGroups, tools which are
      used very widely in the Ruby community, because:</p>
      <ul>
        <li>You'll learn to use the tools that the community uses, so
        you'll be in a great position to carry on after the program.</li>

        <li>It will be easy for you to connect with others. Your coaches and mentors will be familiar
        with these tools so it will be easy for them to give support.</li>
      </ul>
      <p>Please be sure to make yourself familiar with these tools. Don't hesitate
      to play with IRC and GitHub issues and try everything out.</p>
      
      <h3>Daily team log updates: Getting an overview</h3>

      <p>We'd like you to keep a log of short, daily status updates for your team, in a
      blog (from which we would need the URL). This can be any blog tool you like,
      but it should have an RSS or Atom feed. We will use this feed to aggregate all
      students' updates in a central place.</p>

      <p>Please be sure you have a simple blog set up where you can post a short
      summary and status update daily.</p>


      <h3>IRC for quick questions, remote support and fun</h3>

      <p>We will use an IRC channel for remote support, quick questions that you have
      and just hanging out and having fun. We'd like you, your coaches and maybe
      project maintainers to join this channel: `#rgsoc-teams` on `irc.freenode.net`.
      Also feel free to join our organizers channel at `#rgsoc` on the same host.</p>

      <p>Here is a short explanation from Ellen about <a href="https://github.com/RailsGirlsBerlin/summer-of-code/wiki/IRC">how to use IRC</a>.</p>

      <p>Please note: In order to get the attention of a coach start your message to
      the IRC channel by writing `coaches:` (including the colon). Get the attention
      of an organizer by writing at `organizers:`.</p>

      <p>Coaches and organizers will have highlight words set up for these terms, so
      their IRC client will notify them with an alert. If you don't use these
      highlight words they might miss your questions for quite a while because
      they might be looking at another channel or even have the IRC client window
      in the background.</p> -->


      <h2>GitHub for to-dos and project specific discussions</h2>

      <p><a href="http://github.com">GitHub</a> is probably the most used common tool for developers today. It is not only fantastic for sharing code. GitHub issues also make one of the nicest places to discuss things
      (not only code!).</p>

      <p>We recommend you use GitHub Issues as much as possible for keeping track of
      to-dos and having general discussions about your project. If you are a new to GitHub, checkout some of their tutorials e.g. <a href="http://www.youtube.com/channel/UCP7RrmoueENv9TZts3HXXtw">on youtube</a>.</p>


      <!-- <h3>Community mailing list for general questions</h3>

      <p>We will continue to use our <a href="http://groups.google.com/group/rails-girls-summer-of-code-community">community mailing-list</a> to reach everyone involved at Rails Girls Summer of Code.</p>

      <p>We recommend you post to this list for meta discussions and general questions
      about Rails Girls Summer of Code.</p> -->


      <h2>Email us for personal questions</h2>

      <p>If there should be anything you would not want to discuss publicly then send us
      an email to <a href="mailto:summer-of-code@railsgirls.com">summer-of-code@railsgirls.com</a>.</p>

      <p>This email address forwards to our internal organizers mailinglist and only
      organizers have access to it.</p>
      
    </main>

    <aside class="sidebar">
      <section class="sidebar-block">
        <%= partial "modules/_student-sidebar" %>
      </section>
      <section class="sidebar-block">
        <div class="scribble11"></div>
      </section>
    </aside>

  </div>
</article>
