<div class="inner">
	<p>&hearts; artwork by <%= link_to 'Rebecca Conrad', 'http://www.ejaculesc.com/' %><br>
		&copy; <%= link_to 'Rails Girls', '//railsgirls.com' %> 
		- supported by <%= link_to 'Travis Foundation', '//foundation.travis-ci.org/#about' %> 
		| <%= link_to 'Imprint', '/imprint/' %></p>
</div>