/*
 * Interstate Font
 */

@font-face {
    font-family: 'Interstate';
    src: url('fonts/interstate_mono-webfont.eot');
    src: url('fonts/interstate_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interstate_mono-webfont.woff') format('woff'),
         url('fonts/interstate_mono-webfont.ttf') format('truetype'),
         url('fonts/interstate_mono-webfont.svg#interstate_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}