---
title: Press Release 17 June
---

<article>
  <div class="inner">
    <main class="content">
      <h1>Press Release</h1>

      <h2>International Rails Girls Summer of Code Gets Women into Open Source</h2>

      <h3>17 June 2013, Berlin</h3>

      <p>This summer Rails Girls will stage the first-ever International Rails Girls Summer of Code. The program will fund women around the world to work full-time on open source software projects. The program is modelled after the Google Summer of Code, but instead focuses on beginners and women wanting to go into programming full-time. Rails Girls Summer of Code is the first ever event of its kind that aims to get women involved in open source. It commences 1 July, 2013 and runs for 3 months.</p>

      <p>“At the beginning, I just thought programming was something for guys,” said Nina Breznik, a Rails Girls student from Slovenia, who now lives in Berlin. “Rails Girls opened my eyes and helped me realize that it's not too late to learn. Rails Girls Summer of Code is my chance to make my developing dreams a reality.”</p>

      <p>Using a crowdfunding platform, 100% of the program will be paid for by sponsors and individuals from all over the world. The campaign recently raised $80,000 in just 12 days, already surpassing its original $50,000 goal. </p>

      <p>“We’re thrilled at the support Rails Girls Summer of Code has received, both in terms of the money donated and the commitment from full-time developers to coach and mentor applicants,” said Henrietta Kekäläinen, Member of the global Rails Girls Team. “At first we thought the program would only be able to support three or four pairs of students, but now it looks like we’ll be able to support many more than this. The response we’ve had has been fantastic.”</p>

      <p>In addition to picking a project, applicants had to find a coach in order to apply. These coaches will provide both the office space and daily guidance needed for students to progress. From California to London and India to Brazil, experienced, full-time developers have volunteered their time and resources to support more women making the jump into the tech movement.</p>

      <p>Rails Girls Summer of Code has received applications from over 140 students in 19 countries and the $80K they have raised so far will be able to support 14 students. With every $5000 raised beyond this, the program can support one more student. Due to the incredible response to the program, the crowdfunding campaign will continue until July 1, 2013, which is also the official starting day of Rails Girls Summer of Code.</p>

      <p>“At the moment, we have enough funds to sponsor 10% of the applicants. We’re still hoping to find more support so that we can help even more women contribute to Open Source,” stated Sven Fuchs, member of the Rails Girls Summer of Code organising team.</p>

      <p>The first students <a href="http://railsgirlssummerofcode.org/students/">have been announced</a> and more students will be accepted on a rolling basis as the crowdfunding campaign continues.</p>

      <p>To learn more about Rails Girls Summer of Code visit: <a href="http://www.railsgirlssummerofcode.org">http://www.railsgirlssummerofcode.org</a></p>

      <p>To support Rails Girls Summer of Code, donate at: <a href="http://www.railsgirlssummerofcode.org/campaign">http://www.railsgirlssummerofcode.org/campaign</a>.</p>

      <hr>

      <p>Rails Girls Summer of Code is a new program launching in the Summer of 2013 modeled after Google Summer of Code, which aims to bring more women into open source software projects.<br>
      <a href="http://www.railsgirlssummerofcode.org">http://www.railsgirlssummerofcode.org</a></p>

      <p>Rails Girls aims to open up technology and make it more approachable for women.<br>
      <a href="http://www.railsgirls.com">http://www.railsgirls.com</a></p>

      <p>For interviews with students, Rails Girls Summer of Code organizers or sponsors, please contact: Anika Lindtner at <a href="mailto:summer-of-code@railsgirls.com">summer-of-code@railsgirls.com</a>.</p>

      <p>Also visit our press kit at <a href="http://www.railsgirlssummerofcode.org/press">http://www.railsgirlssummerofcode.org/press</a>.</p>
    </main>
  </div>
</article>
