.scribble1, 
.scribble2, 
.scribble3,
.scribble4,
.scribble5,
.scribble6,
.scribble7,
.scribble8,
.scribble9,
.scribble10,
.scribble11,
.scribble12,
.scribble13,
.scribble14,
.scribble15,
.scribble16,
.scribble17,
.scribble18 {
  background-image: url(../images/elements/scribbles.png);
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 250px;
  margin-top: 0;
}
.scribble1 { background-position: 30px 0px; }
.scribble2 { background-position: 30px -250px; }
.scribble3 { background-position: 30px -500px; }
.scribble4 { background-position: 30px -750px; }
.scribble5 { background-position: 30px -1000px; }
.scribble6 { background-position: 30px -1250px; }
.scribble7 { background-position: 30px -1500px; }
.scribble8 { background-position: 30px -1750px; }
.scribble9 { background-position: 30px -2000px; }
.scribble10 { background-position: 30px -2250px; }
.scribble11 { background-position: 30px -2500px; }
.scribble12 { background-position: 30px -2750px; }
.scribble13 { background-position: 30px -3000px; }
.scribble14 { background-position: 30px -3250px; }
.scribble15 { background-position: 30px -3500px; }
.scribble16 { background-position: 30px -3750px; }
.scribble17 { background-position: 30px -4000px; }
.scribble18 { background-position: 30px -4250px; }