---
title: FAQ
---

<article>
  <div class="inner">

    <main class="content">
      <h2>FAQ</h2>
      <ul class="faq-list">
        <li><a href="#1">What is Rails Girls Summer of Code (RGSoC)?</a></li>
        <li><a href="#2">Who is running this?</a></li>
        <li><a href="#3">Who can participate as a student?</a></li>
        <li><a href="#4">Where will RGSoC take place?</a></li>
      </ul>

      <h3 id="1">What is Rails Girls Summer of Code?</h3>
      <div>
        <p>Rails Girls Summer of Code (RGSoC) helps Rails Girls* students get into Open Source.</p>
        <p>Just like in Google Summer of Code and Ruby Summer of Code, students will be paid so they're free to work on Open Source projects for a few months. Unlike those programs, the Rails Girls Summer of Code is about helping students to further expand their knowledge and skills by contributing to a great Open Source project (rather than producing highly sophisticated code). </p>
        <p><i>*or students from another comparable workshop</i></p>
      </div>
      <h3 id="2">Who is running this?</h3>
      <div>
        <p>The idea for this project originated in a Berlin Rails Girls organizers and coaches meeting about exchanging ideas about "what's happening after the initial beginner's workshop" and what could be improved. One idea was to encourage students to get involved with open source projects. And so the idea for a summer of code was born.</p>
      </div>
      <h3 id="3">Who can participate as a student?</h3>
      <div>
          <p>We're looking for women who have participated in any Rails Girls, RailsBridge, or similar newcomer workshop, have participate in a Ruby/Rails study group, or otherwise are getting started with Ruby/Rails as newcomers.</p>
          <p>Unlike Google Summer of Code, no status as a student at a university is necessary, and there are certainly no degree or age limitations.</p>
          <p>This initiative is focused on bringing more women into the world of open source. Men are not excluded however women are given priority.</p>
      </div>
      <h3 id="4">Where will Rails Girls Summer of Code take place?</h3>
      <div>
        <p>Rails Girls Summer of Code is am imternational initiative. Thus, it does not matter where a student or coach lives or where a company is located.</p>
        <p>We will try to find coaches as near as possible to a students location to avoid the student having to accomodate herself in a different city. Ideally coaches can provide a desk at their own workplace so students can sit next to them, ask questions and get support.</p>
      </div>
    </main>



    <aside class="sidebar">
      <section class="sidebar-block">
        <%= partial "modules/_faq-sidebar" %>
      </section>
      <section class="sidebar-block">
        <div class="scribble5"></div>
      </section>
    </aside>


  </div>
</article>
