---
title: Students
---

<article>
  <div class="inner">
    <main class="content">
      <h1>Students</h1>

        <p>Student registrations for last year's Rails Girls Summer of Code came from all over the world! As soon as there'll be updates on this year's project groups, you can read about them here.</p>
        <p>In the meantime, check out these sections for information on what will happen during the Summer of Code.</p>
        <p><ul>
          <li><a href="/students/things-to-do">Things to do</a>: Activities that come along with learning to code.</li>
          <li><a href="/students/team-log">Team Log</a>: Keep track of your activities and your learning steps.</li>
          <li><a href="/students/tools">Tools</a>: Services we'll be using to keep in touch.</li>
          <li><a href="/students/conferences">Conferences</a>: Join the community, talk about your Summer of Code and get inspired.</li>
        </ul></p>
        <p>You can read more about the teams and projects of the 2013 edition of RGSoC <a href="http://2013.railsgirlssummerofcode.org/">here</a>.</p>

        <div style="width:650px; height:400px" id="map"></div>
    </main>

    <aside class="sidebar">
      <section class="sidebar-block">
        <%= partial "modules/_student-sidebar" %>
      </section>
      <section class="sidebar-block">
        <div class="scribble14"></div>
      </section>
    </aside>

  </div>
</article>
<script src="http://openlayers.org/api/OpenLayers.js"></script>

